/************************************************ Import ************************************************/

@font-face {
    font-family: "Roboto";
    src: url("/assets/Roboto-Thin.ttf");
}

/************************************************ Body ************************************************/
body {

    background-image: url("assets/back.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Roboto";
}

/************************************************ Wrap GRID ************************************************/

#wrapper {
    display:grid;
    justify-content: center;
    align-self: center;
    margin: 0;
    padding: 0;
    height: 90vh;
    width: 90vw;
    grid-template-columns: 33% 34% 33%;
    grid-template-rows: 50% 25% 25%;
}

/************************************************ Left Col. ************************************************/

#one {
    display: grid;
    border: 1px solid white;
    background-color: rgba(0, 0, 0, 0.6);
    margin: 1rem 1rem 0 1rem;
    grid-column: 1 / 2;
    grid-row: 1 / 2;
}

h5 {
    margin: 5% 0 5% 0;
    height: 5%;
    justify-self: center;
    color: white;
    font-size: 1rem;
}

#focus {
    display: flex;
    height: 20%;
    align-items: center;
}

.checkbox {
    margin: 0.5rem;
}

.text {
    width: 100%;
    height: 1rem;
    margin: 0.5rem 0.5rem 0.5rem 0;
    color: white;
    background: rgba(0, 0, 0, 0);
    border: 1px solid rgba(255, 255, 255, 0.5);  
}

#onetwo {
    display: grid;
    border: 1px solid white;
    background-color: rgba(0, 0, 0, 0.6);
    margin: 1rem;
    grid-column: 1 / 2;
    grid-row: 2 / 4;
}

/************************************************ Mid Col. ************************************************/

#two {
    display: grid;
    border: 1px solid white;
    background-color: rgba(0, 0, 0, 0.6);
    margin: 1rem 0 1rem 0;
    grid-column: 2 / 3;
    grid-row: 1 / 4;
}

/************************************************ Right Col. ************************************************/

#three {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid white;
    background-color: rgba(0, 0, 0, 0.6);
    margin: 1rem 1rem 0 1rem;
    grid-column: 3 / 4;
    grid-row: 1 / 3;
}

h3  {
    color: white;
    font-size: 4.5rem;
    padding: 2rem;
    border-bottom: 1px solid rgba(255, 255, 255, 0.7);
    border-top: 1px solid rgba(255, 255, 255, 0.7);
}

#wrapBtn {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

button {
    background-color: rgba(255, 255, 255, 0);
    margin: 3rem 0 0 0;
    width: 5rem;
    height: 2.5rem;
    border: 1px solid rgba(255, 255, 255, 0.7);
}

#play {
    background-image: url("assets/play.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 1rem;
}
#add {
    background-image: url("assets/add.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 1rem;
}
#minus {
    background-image: url("assets/minus.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 1rem;
}
#reset {
    background-image: url("assets/reset.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 1rem;
}
#stop {
    background-image: url("assets/stop.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 1rem;
}

button:hover {
    animation-name: buttonhover;
    animation-fill-mode: forwards;
    animation-duration: 1s;
}

#threetwo {
    display: grid;
    justify-content: center;
    align-items: center;
    border: 1px solid white;
    background-color: rgba(0, 0, 0, 0.6);
    margin: 1rem;
    grid-column: 3 / 4;
    grid-row: 3 / 4;
}

#author {
    color: white;
    font-size: 1rem;
}

a {
    text-decoration: none;
    color: white;
    padding-bottom: 0.25rem;
}

a:hover {
    animation-name: borderbottom;
    animation-fill-mode: forwards;
    animation-duration: 1s;
}

/************************************************ Animations ************************************************/

@keyframes borderbottom {
    from {
        border-bottom: 1px solid rgba(255, 255, 255, 0);
    }
    to {
        border-bottom: 1px solid rgba(255, 255, 255, 1);
    }
}

@keyframes buttonhover {
    from {
        border: 1px solid rgba(255, 255, 255, 0.7);
        background-color: rgba(255, 255, 255, 0);
    }
    to {
        border: 1px solid rgba(255, 255, 255, 0);
        background-color: rgba(255, 255, 255, 0.3);
    }
}